* {
    margin: 0 auto ;
    padding: 0 ; 
    font-size: 16px;  
}

body{
    font-family: 'Roboto', sans-serif; 
     font-weight: 100;    
    
}





h1,h2{
    font-family: 'Abril Fatface', serif;
    font-size: 2em;
    display: inline-block;   
}

a{
    font-family: 'Montserrat', sans-serif;   
}




h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgba(223, 163, 238, 0.906);
}

p{
    font-size: 1em;
}

/*  Partie 1 : Accueil */

header{
    height: 25em ;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
    background-position : center ;
    background-size: cover;

    
}



ul{
    display: flex;
    flex-direction: column;
    margin-left: 0em;
    background-color: rgba(96, 94, 94, 0.452);
    
}

li{
    width: 100%;
    text-decoration: none;
    list-style: none;
    text-align: center; 
}


li a{
    width: 100% ;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: 1em;
    color: #ffffff;
    
    
}


li  a:hover {
    width: 100% ;
    color: #ffffff;
    background-color: rgba(87, 85, 85, 0.666);
}



.img{
    padding: 1.7em;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.words{

    color :rgb(46, 46, 46);
}


a img {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    width: 35px;
    height: 35px;
}



.picturesNames{
    display: flex;
    flex-direction: column;
    justify-content: center;

}





/*  PRESENTATION  */

.text-prez{
    font-weight:600;
}



.presentation {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.text-presentation { 
    padding: 0.5em ;
}



.div-container {
    margin-top: 1.5em;
}

.div-container p{
    margin-top: 0.6em;
}


.info-box{
    margin-top: 20px;
    
}

.info-box > span{
    position: static;
    text-decoration:underline;
    font-size: 1em;
}

.info1prez{
    margin-top: 1.3em;
}

.illustration {
    width: 95%;
}

.img-size-responsive {
    max-width: 100%;
    height: auto;
}


/* COMPETENCES */

.main-zone-skills{
    background-color: rgb(47, 56, 185);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


.main-zone-skills > *{
    width: 95%;

}

.competences{
    padding : 1em;
    color: #ffffff;;   
}


.title-skills{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.competences .text-skills{
    padding-top : 2em;
    padding-bottom: 2em ;

}

.text-skills + p {
    text-align: center;
}

.skills{
    padding-bottom : 2em;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 5px;
    align-items: center;
}

.box{
    background-color: #ffffff;
    border-radius: 25px;
    height: 220px;
    width: 150px;
    position: relative;
    box-shadow: 3px 1px 20px 1px rgb(84, 83, 83);
    padding-top: 1em;
   

}

.box  p {
    text-align: center;
    margin-top: 15px;
}

svg {
    /* background-color: rgb(231, 184, 184); */
    height: 150px;
    width: 150px;
}

svg circle {
    fill : none ;
    stroke :rgb(40, 201, 255) ;
    stroke-width: 10px;
    transform : translate(5px , 5px) ;
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
   
}

svg circle:nth-child(1) {
    stroke :rgb(234, 228, 238) ;
    stroke-dashoffset: 0;
}


svg circle:nth-child(2) {
    animation: circle 2s forwards ;
}
 

/* Là on modifie les valeur*/
@keyframes circle {
    to {
        stroke-dashoffset: 88;
    }

}

span{
    position: absolute;
    top: 37%;
    left: 54% ;
    bottom: 50%;
    transform: translate(-50%,-50%) ;   
    height: 1em;
    font-size : 1.3em ;
}


/* -->  Cercle 2 */

svg .circle02:nth-child(2) {
    animation: circle-two 2s forwards ;
}
 
@keyframes circle-two {
    to {
        stroke-dashoffset: 110;
    }
}

/* -->  Cercle 3 */

svg .circle03:nth-child(2) {
    animation: circle-three 2s forwards ;
}
 

@keyframes circle-three {
    to {
        stroke-dashoffset: 176;
    }

}


/* -->  Cercle 4 */

svg .circle04:nth-child(2) {
    animation: circle-four 2s forwards ;
}
 

@keyframes circle-four {
    to {
        stroke-dashoffset: 220;
    }
}

/* -->  Cercle 5 */

svg .circle05:nth-child(2) {
    animation: circle-five 2s forwards ;
}
 
@keyframes circle-five {
    to {
        stroke-dashoffset: 176;
    }
}


/* -->  Cercle 6 */

svg .circle06:nth-child(2) {
    animation: circle-six 2s forwards ;
}
 

@keyframes circle-six{
    to {
        stroke-dashoffset: 264;
    }

}



/* PROJETS */

.main-zone-works{
    background-color: rgb(39, 40, 119);
}

.title-works{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.title-works + p{
    text-align: center;
}

.works{
    width: 95%;
    font-size: 1em;
}


.text-works{
    padding : 2em;
    color: rgb(255, 255, 255);
}


.prjct{
    background-color: #ffffff;
    height: 13em;
    width: 100%;
    margin-top: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 1px 10px 1px rgb(38, 37, 37);
    
}


.prjct  .name {
    height: 2em;
    padding: 1em 0.5em;
}

.project > {
    padding: 1em 0.5em;
}

.name{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:rgb(234, 228, 238);
    margin-bottom: 0.7em;
    text-align: center;
    color: #010101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.name + div p {
    margin-left: 5px;
    padding: 5%;
}


footer{
    background-color: rgb(2, 2, 2);
    height: 3em;
}



.works-container a:link{
    color: #010101;
}


.works-container a:link {
    text-decoration: none;
}
  
.works-container a:visited {
    color: #010101;
}
  

.works-container a:hover::after{
    content: '';
    display: block;
    width: 100%;
    font-size:large;
    height: 5px;
    background-color:#6d6c6c;

}






@media only screen and (min-width: 650px) and (max-width : 1999px) {

    body{
        font-size: 16px;
    }
         
    header{
        background-color: rgb(68, 67, 67); 
        height: 20em ;
        background-image: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
        background-position : center ;
        background-size: cover;
    }


    .presentation {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 5px 5px;
        grid-template-areas: 
        "text-presentation div-illustration"; 
    }
    .text-presentation { 
        grid-area: text-presentation;   
    }

    .div-illustration { grid-area: div-illustration; }


    ul{
        display: flex;
        flex-direction: row ;

    }

    li{
        text-decoration: none;
        list-style: none;
        text-align: center;
        background-color: none;
    }


    li a{
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
    }

    li  a:hover {
        color: #ffffff;   
    }

    .illustration {
        visibility: visible;
        width: 100%;
        
    }
    
    .img-size-responsive {
        max-width: 100%;
        height: auto;
    }
    

    .skills{
        padding-bottom : 2.3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        gap: 10px 10px;
        align-items: center;
    }

    .works-container{
        padding : 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "project1-description project2-description project3-description"
            "project4-description project5-description .";
    }
        
    .project1-description { grid-area: project1-description; }
    
    .project2-description { grid-area: project2-description; }
    
    .project3-description { grid-area: project3-description; }
    
    .project4-description { grid-area: project4-description; }
    
    .project5-description { grid-area: project5-description; }



    






}








@media only screen and (min-width : 1440px) {

    body{
        font-size :18px ;

    }
    

    header{
        height: 25em ;
        background-image: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
        background-position : center ;
        background-size: cover;
    }

    ul{
        display: flex;
        flex-direction: row ;
    }

    li{
        text-decoration: none;
        list-style: none;
        text-align: center;
        background-color: none;
    }


    li a{
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
    }

    li  a:hover {
        color: #ffffff;   
    }
    
  
    .img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .words{
        padding: 1.5em;
        color :rgb(46, 46, 46);
    }


    a img {
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block;
        width: 35px;
        height: 35px;
    }

    .text-prez{
        font-weight:600;
    }

    .presentation {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 10px 10px;
        grid-template-areas: 
        "text-presentation div-illustration"; 
    }
    .text-presentation { 
        grid-area: text-presentation;
        font-size: 1em;
    }
    .div-illustration { grid-area: div-illustration; }


    .div-container {
        margin-top: 1.5em;
    }

    .div-container p{
        margin-top: 0.6em;
    }


    .info-box{
        margin-top: 20px;
        
    }

    .info-box > span{
        position: static;
        text-decoration:underline;
        font-size: 1em;
    }

    .info1prez{
        margin-top: 1.3em;
    }

    .illustration {
        width: 60%;
    }

    .img-size-responsive {
        max-width: 100%;
        height: auto;
    }


    .main-zone-skills{
        background-color: rgb(47, 56, 185);
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }
    
    
    .main-zone-skills > *{
        width: 80%;
    
    }
    
    .competences{
        padding : 2em;
        color: #ffffff;;   
    }
    
    
    .title-skills{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .competences .text-skills{
        padding-top : 2em;
        padding-bottom: 2em ;
    
    }
    
    .text-skills + p {
        text-align: center;
    }
    
    .skills{
        font-size: 1.25em;
        padding-bottom : 2.3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        gap: 10px 10px;
        align-items: center;
    }
    
    .box{
        background-color: #ffffff;
        border-radius: 25px;
        padding: 1em 0.5em;
        height: 220px;
        width: 150px;
        position: relative;
        box-shadow: 3px 1px 20px 1px rgb(84, 83, 83);
    }
    
    .box  p {
        text-align: center;
        margin-top: 15px;
    }
    
    svg {
        height: 150px;
        width: 150px;
    }


    .works{
        width: 80%;
        font-size: 1.25em;
    }


    .text-works{
        padding : 2em;
        color: rgb(255, 255, 255);
    }


    .works-container{
        padding : 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "project1-description project2-description project3-description"
            "project4-description project5-description .";
    }
        
    .project1-description { grid-area: project1-description; }

    .project2-description { grid-area: project2-description; }

    .project3-description { grid-area: project3-description; }

    .project4-description { grid-area: project4-description; }

    .project5-description { grid-area: project5-description; }
        


    .prjct{
        background-color: #ffffff;
        height: 14em;
        width: 11em;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 1px 10px 1px rgb(38, 37, 37);
        
    }


    .prjct  .name {
        height: 2em;
        padding: 1em 0.5em;
    }

    .project > {
        padding: 1em 0.5em;
    }

    .name{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color:rgb(234, 228, 238);
        margin-bottom: 0.7em;
        text-align: center;
        color: #010101;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }



    .name + div p {
        /* background-color: aqua; */
        margin-left: 5px;
        padding: 5%;
    }


    footer{
        background-color: rgb(2, 2, 2);
        height: 3em;
    }




    .works-container a:link{
        color: #010101;
    }


    .works-container a:link {
        text-decoration: none;
    }
    
    .works-container a:visited {
        color: #010101;
    }
    

    .works-container a:hover::after{
        content: '';
        display: block;
        width: 100%;
        font-size:large;
        height: 5px;
        background-color:#6d6c6c;

    }







 
}
